services:
  asb-backend:
    container_name: processor-asb-backend
    environment:
      SQL_WAIT_INTERVAL: 0
      SQL_SERVER: sqledge
      MSSQL_SA_PASSWORD: "s4usag3s!"
      ACCEPT_EULA: "Y"
    depends_on:
      sqledge:
        condition: service_healthy
    image: mcr.microsoft.com/azure-messaging/servicebus-emulator:latest
    ports:
      - "5672:5672"
      - "5300:5300"
    pull_policy: always
    volumes:
      - "./compose/asb.json:/ServiceBus_Emulator/ConfigFiles/Config.json"
  
  asb:
    container_name: processor-asb
    image: alpine/curl:latest
    depends_on:
      asb-backend:
        condition: service_started
    command: ["tail", "-f", "/dev/null"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://asb-backend:5300/health"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s
  
  processor:
    build:
      args:
        DEFRA_NUGET_PAT: ${DEFRA_NUGET_PAT}
    container_name: processor
    depends_on:
      asb:
        condition: service_healthy
      localstack:
        condition: service_healthy
      wiremock:
        condition: service_started
      mongodb:
        condition: service_healthy
    env_file:
      - 'compose/aws.env'
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ENVIRONMENT: local
      SERVICE_VERSION: local
      PORT: 8080
      DataApi__BaseAddress: "http://wiremock"
      DataApi__Password: "secret"
      ServiceBus__Gmrs__ConnectionString: "Endpoint=sb://asb-backend;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true"
      ServiceBus__Notifications__ConnectionString: "Endpoint=sb://asb-backend;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true"
      ServiceBus__Ipaffs__ConnectionString: "Endpoint=sb://asb-backend;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true"
      SQS_ENDPOINT: http://localstack:4566
      AWS_EMF_ENVIRONMENT: Local
      AWS__ServiceURL: http://localstack:4566
      AWS__AuthenticationRegion: eu-west-2
      Mongo__DatabaseUri: mongodb://mongodb:27017/?directConnection=true
      Acl__Clients__IntegrationTests__Secret: integration-tests-pwd
      Acl__Clients__IntegrationTests__Scopes__0: read
      Acl__Clients__IntegrationTests__Scopes__1: write
      Acl__Clients__IntegrationTests__Scopes__2: execute
    image: trade-imports-processor:latest
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/all"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s
  
  sqledge:
    container_name: processor-sqledge
    healthcheck:
      interval: 5s
      retries: 10
      start_period: 5s
      test: timeout 1 bash -c 'cat < /dev/null > /dev/tcp/127.0.0.1/1433'
      timeout: 5s
    image: mcr.microsoft.com/azure-sql-edge:latest
#    On some platforms there are compatibility issues with running Azure SQL Edge e.g. M1 Macs with later Docker versions.
#    If SQL Edge does not work for you, try swapping out with SQL Server image instead
#    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "s4usag3s!"
  
  wiremock:
    container_name: processor-wiremock
    environment:
      TZ: Europe/London
    image: sheyenrath/wiremock.net:latest
    ports:
      - "9090:80"

  localstack:
    container_name: processor-localstack
    image: localstack/localstack
    ports:
      - '4566:4566' # LocalStack Gateway
      - '4510-4559:4510-4559' # external services port range
    env_file:
      - 'compose/aws.env'
    environment:
      DEBUG: ${DEBUG:-1}
      LS_LOG: info # Localstack DEBUG Level
      SERVICES: sqs
      LOCALSTACK_HOST: 127.0.0.1
      TZ: Europe/London
    volumes:
      - '${TMPDIR:-/tmp}/localstack:/var/lib/localstack'
      - ./compose/start-localstack.sh:/etc/localstack/init/ready.d/start-localstack.sh
    healthcheck:
      test: cat /tmp/ready
      interval: 5s
      start_period: 5s
      retries: 10
      
  mongodb:
    # Initialise a Mongo cluster with a replicaset of 1 node.
    # Based on https://medium.com/workleap/the-only-local-mongodb-replica-set-with-docker-compose-guide-youll-ever-need-2f0b74dd8384
    # Since we are using transactions, we require a replicaset. Local dev with docker compose uses 1 node below, but our live
    # environments have multiple nodes.
    # The replicaset needs initialising, so the healthcheck can be hijacked to initialise this so that it can keep retrying
    # until the operation is successful (might need to wait a while after container boot for this to work, hence the interval/retries)
    # WARNING: do not turn on authentication, otherwise will need to deal with generating key pairs and sharing them between
    # the replicaset nodes. For local development this is overkill, so just turn off auth and connect to Mongo without creds.
    container_name: processor-mongodb
    image: mongo:6.0.13
    command: [ "--replSet", "rs0", "--bind_ip_all", "--port", "27017" ]
    ports:
      - "27017:27017"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'host.docker.internal:27017'}]}) }" | mongosh --port 27017 --quiet
      interval: 5s
      timeout: 30s
      start_period: 0s
      start_interval: 1s
      retries: 30
    volumes:
      - mongodb-data:/data
    restart: always

volumes:
  mongodb-data: